.sidebar-container {
  /* display: flex;
  flex-direction: column;
  align-content: center; */
  background-color: rgba(170, 223, 170, 0.12);
  border-right: 10px solid rgb(154, 228, 167);
  height: 100%;
  border-right: 10px solid rgb(154, 228, 167);
  /* width: 60%; */
}

.dropdown {
  width: 80%;
  margin: 19% 0%;
  padding: 5%;
  background-color: rgb(253, 215, 172);
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
}
