.sidebar-container {
  background-color: rgba(170, 223, 170, 0.12);
  border-right: 10px solid rgb(154, 228, 167);
  height: 100%;
  border-right: 10px solid rgb(154, 228, 167);
  /* width: 60%; */
}

.dropdown {
  width: 80%;
  height: 30px;
  font-size: 16px;
  margin: 19% 0%;
  padding: 5%;
  background-color: rgb(253, 215, 172);
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
}

@media (max-width: 750px) {
  .sidebar-container {
    display: flex;
    align-items: center;
    border: none;
    margin: 0 auto;
    background-color: #FFFFFF;
  }

  .dropdown {
    margin: 10px auto;
    width: 150px;
    padding: 1% 0 0 8%;
    font-weight: 500;
  }

  .sort-by {
    margin-right: 2%;
  }
}
