@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

button {
position: absolute;
bottom: 0;
right: 0;
width: 148px;
height: 50px;
border-radius: 30px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
border: solid 1px black;
background-color: #85cc7e;
font-size: 17px;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}

.recipe-card {
  width: 325px;
  position: relative;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.recipe-card img {
  height: 300px;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
}


.recipe-details {
  width: 50%;
  height: 50%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.recipe-details h2 {
  display: flex;
  margin: 0;
  text-decoration: underline;
  font-size: 28px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
}

.recipe-details p {
  margin: 0;
  padding-left: 15px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.add-to-cart {
  height: 50px;
  width: 50px;
}

@media (max-width: 750px) {
  .recipe-card {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 2% 0;
    margin: 2% auto;
    font-family: 'Roboto', sans-serif;
  }

  .recipe-card img {
    width: 150px;
    height: 150px;
    border-radius: 0;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
  }

  .recipe-details h2 {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
  }

  .recipe-details p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
}
