.recipe-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 0 auto;
}

.recipe-card {
  width: 335px;
  height: 248px;
  border: 1px solid black;
}

.recipe-card img {
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

.recipe-details {
  width: 50%;
  height: 50%;
}

.recipe-details p, h2 {
  margin: 0;
}
