/* .main {
  display: flex;
  flex-direction: column;
} */

.main {
  border: 1px solid;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(2, 1fr) auto;
  grid-gap: 10px;
  grid-template-areas:
    "sidebar search"
    "sidebar recipe";
    overflow: hidden;
}

.sidebar-container {
  grid-area: sidebar;
}

.recipe-container {
  grid-area: recipe;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(3, 1fr) auto;
  /* grid-gap: 10px; */
  grid-template-areas:
    "card card card";
}

.recipe-card {
  grid-area: card;
}

.search-bar {
  grid-area: search;
  font-size: 22px;
  padding: 15px;
  width: 1092px;
  height: 51px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px var(--black);
  background-color: var(--white);
  border: 1px solid black;
}
