.logo h1 {
  width: 327px;
  height: 100px;
  object-fit: contain;
  text-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Lobster;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  padding: 0px 0px 0px 25px;
}

.header {
  background-color: rgb(154, 228, 167);
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 185px;
}

.sublogo {
  display: flex;
  padding: 25px 45px;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  height: 41px;
  padding: 0px 100px;
}

.profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 0px 30px 86px 0px;
}

.reciplease-logo {
width: 124px;
height: 106px;
}

.shopping-cart {
  height: 64px;
  width: 79px;
  margin: 0px 0px 82px 0px;
}

@media (max-width: 750px) {

}
