.logo h1 {
  width: 327px;
  height: 100px;
  object-fit: contain;
  text-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: Lobster;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.header {
  background-color: rgb(154, 228, 167);
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 185px;
}

.sublogo {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 1% auto;

}

.nav a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  height: 41px;
}

.profile-pic {
  height: 46px;
  width: 47px;
  border-radius: 30px;
}

.reciplease-logo {
width: 124px;
height: 106px;
}

.shopping-cart {
  height: 57px;
  width: 69px;
}

@media (max-width: 750px) {

}
